mixin Button(props)
    -
        const {name, i18n = name, type = 'roll', variant = 'default' } = props || {};

        const namePrefix = type === 'roll' ? 'roll' : 'act'
        const attr = attrName(name);
        const buttonName = `${namePrefix}_${attr}`;
        const datai18n = type === 'icon' ? "" : i18n;

        const baseClasses = 'bg-neutral-800 ellipse flex items-center justify-center whitespace-nowrap transition-all m-0 py-0\.5 px-1\.5 color-neutral-300 active:color-neutral-50 focus:color-neutral-50 hover:color-neutral-50 rounded-lg border  ';

        const variantClasses = {
            tab: 'tab capitalize border-transparent h-6 gap-1 bg-transparent text-center flex-1 text-sm font-medium ',
            default: 'capitalize flex-shrink-0 gap-1.5 h-8 border-neutral-500 duration-150 opacity-100 ease-in-out active:bg-neutral-600 focus:bg-neutral-600 hover:bg-neutral-600 text-sm font-semibold  ',
            icon: 'border size-8 active:bg-neutral-600 focus:bg-neutral-600 hover:bg-neutral-600 text-xl '
        };

        const classes = `${baseClasses} ${variantClasses[variant]  || ''}`;

    if variant === 'icon' 
        button.icon(class=classes class!=attributes.class name=`${buttonName}` type=type)
            if block
                block
    else
        button(class=classes class!=attributes.class data-i18n=`${datai18n}` name=`${buttonName}` type=type   )

