mixin Button(props)
    -
        const {name, i18n = name, type = 'roll', variant = 'default' } = props || {};

        const namePrefix = type === 'roll' ? 'roll' : 'act'
        const attr = attrName(name);
        const buttonName = `${namePrefix}_${attr}`;
        const datai18n = type === 'icon' ? "" : i18n;

        const baseClasses = 'bg-neutral-800 ellipse flex items-center justify-center whitespace-nowrap transition-all m-0 py-0\.5 px-1\.5 color-neutral-300 active:color-neutral-50 focus:color-neutral-50 hover:color-neutral-50 rounded-lg border ';

        const variantClasses = {
            tab: 'bg-transparent border-transparent capitalize flex-1 font-medium gap-1 h-6 tab text-center text-sm ',
            default: 'active:bg-neutral-600 border-neutral-500 capitalize duration-150 ease-in-out flex-shrink-0 focus:bg-neutral-600 font-semibold gap-1.5 h-8 hover:bg-neutral-600 opacity-100 text-sm ',
            icon: 'active:bg-neutral-600 focus:bg-neutral-600 hover:bg-neutral-600 size-8 '
        };

        const classes = `${baseClasses} ${variantClasses[variant]  || ''}`;

    if variant === 'icon' 
        button.icon(class=classes class!=attributes.class name=`${buttonName}` type=type)
            if block
                block
    else
        button(class=classes class!=attributes.class data-i18n=`${datai18n}` name=`${buttonName}` type=type   )

