mixin Button(props)
    -
        const {name, i18n = name, type = 'roll', variant } = props || {};

        const namePrefix = type === 'roll' ? 'roll' : 'act'
        const attr = attrName(name);
        const buttonName = `${namePrefix}_${attr}`;

        const baseClasses = 'ellipse flex items-center justify-center whitespace-nowrap color-neutral-50 transition-all py-0.5 px-1.5 ';

        const variantClasses = {
            tab: 'capitalize border border-transparent h-6 w-18 gap-1 rounded-lg bg-transparent m-0 text-center flex-1',
            default: 'capitalize rounded-md border border-transparent text-sm font-medium ',
        };

        const classes = `${baseClasses} ${variantClasses[variant] || ''}`;

    button(type=type name=`${buttonName}` data-i18n=i18n class=classes class!=attributes.class)
