mixin Input(props)
  -
    const { name, i18n = name, type = 'text', placeholder = name, value = '' } = props || {};
    const attr = attrName(name);
    const baseTextualClasses = 'w-full bg-transparent border-x-transparent border-t-transparent border-b-neutral-900 border-b-2 rounded-none px-2.5 py-1 text-base transition-colors';
    const baseChoiceClasses = 'w-full h-full min-w-6 min-h-6 border transition-colors rounded-sm flex items-center justify-center size-4';
    const typeClasses = {
      text: baseTextualClasses,
      number: baseTextualClasses,
      radio: baseChoiceClasses,
      checkbox: baseChoiceClasses
    };
    
    const tag = type || 'text';
    const classes = `${baseTextualClasses} ${typeClasses[tag] || ''}`;

  input(type=type class=classes name=`attr_${attr}` data-i18n-placeholder=placeholder value=value data-i18n=i18n class!=attributes.class) 




