mixin textInput(name)
	- const attrName = name.replace(/ /g, '_');
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(data-i18n-placeholder=name name=`attr_${attrName}` placeholder=name title=`@{${attrName}}` type='text' value='')

mixin numberInput(name)
	- const attrName = name.replace(/ /g, '_');
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName}` title=`@{${attrName}}` type='number' value='')

mixin checkboxInput(name)
	- const attrName = name.replace(/ /g, '_');
	label.styled-checkbox.grid(data-i18n-title=`toggle ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName}` title=`@{${attrName}}` type='checkbox' value=name)
		span.pictos 3

mixin rollButton(name)
	- const attrName = name.replace(/ /g, '-');
	button.text-capitalize(data-i18n=name name=`roll_${attrName}` type='roll' value='&{template:rolls} {{header=^{${name}}}} {{dice=[[1d20[Roll]]]}}')
