.grid.gap-6.style_guide
    +Header({ name: "style guide", size: "h1" }).text-center

    .grid.gap-4.grid-flow-col.grid-cols-2
        .grid.gap-6.content-start.auto-rows-min
            .grid.gap-2.auto-rows-min.text-center
                +Header({ name: "headers", size: "h2" }).text-center
                each size in ["h1", "h2", "h3", "h4"]
                    +Header({ size: size, name: `${size} header` })
                    
            .grid.gap-2.auto-rows-min
                +Header({ name: "buttons", size: "h2" }).text-center
                .grid.gap-2.grid-flow-col.items-center.justify-center
                    each type in [BUTTON_TYPES.ACTION]
                        +Button({name: `${type} button`, type, })
                    each type in [BUTTON_TYPES.ROLL]
                        +Button({name: `${type} button`, type, value: buttonValue({name: "roll button", type: BUTTON_VALUE_TYPES.D20}) })
                    +Button({type: BUTTON_TYPES.ROLL, name: `icon button`, variant: BUTTON_VARIANT.ICON, value: buttonValue({name: "icon button", type: BUTTON_VALUE_TYPES.D20 }),  })
                        +Icon({icon: "d20"})
                    +Button({type: BUTTON_TYPES.ROLL, name: `chat button`, variant: BUTTON_VARIANT.ICON, value: buttonValue({name: "chat button", attr: "@{example_textarea}" }),  })
                        +Icon({icon: "chat"})

            .grid.gap-2.auto-rows-min.items-center.justify-center
                +Header({ name: "tabs", size: "h2" }).text-center
                - const viewTabs = ["style guide", "character"];
                +Tabs({attr: "sheet_type", values: viewTabs, })

            .grid.gap-2.grid-flow-col
                .grid.gap-2.auto-rows-min
                    +Header({ name: "select", size: "h2" }).text-center
                    +Select({name: "example select", options: [{value: "option 1", label: "Option 1"}, {value: "option 2", label: "Option 2"}]})

                .grid.gap-2.auto-rows-min.items-center.justify-items-center
                    +Header({ name: "switch", size: "h2" }).text-center
                    +Switch({name: "switch", value: "on" })

        .grid.gap-6.auto-rows-min
            +Header({ name: "inputs", size: "h2" }).text-center

            .grid.gap-2.auto-rows-min.grid-flow-col.grid-cols-2.items-center
                each type in ["text", "number"]
                    .grid.gap-2.grid-flow-col.items-center.auto-rows-min.col-auto-fr
                        +Header({ name: `${type}`, size: "h3" }).w-fit
                        +Input({ name: `${type}`, type: type })

            .grid.gap-2.auto-rows-min.grid-flow-col.grid-cols-2.items-center
                each type in ["checkbox", "radio"]
                    .grid.gap-2.grid-flow-col.items-center.auto-rows-min.col-auto-fr.justify-items-center
                        +Header({ name: `${type}`, size: "h3" }).w-fit
                        +Input({ name: `${type}`, type: type })

            .grid.gap-6.auto-rows-min.justify-items-center.items-center
                +Header({ name: "icons", size: "h2" }).text-center

                .grid.gap-4.grid-flow-col
                    each icon in ["d4", "d6", "d8", "d10", "d12", "d20"]
                        .grid.gap-2.auto-rows-min.items-center.justify-items-center
                            +Header({ name: icon, size: "h3" }).w-fit
                            +Icon({ icon, color: "color-neutral-900" })

                .grid.gap-4.auto-rows-min.items-center.w-full
                    .grid.gap-2.grid-flow-col.w-full.grid-cols-3.items-center.justify-items-center 
                        +Header({ name: "icon", size: "h3" })
                        +Header({ name: "name", size: "h3" })
                        +Header({ name: "description", size: "h3" })
                    -
                        const iconData = [
                            { icon: "ellipsis", description: "Show menu options" },
                            { icon: "editAlt", description: "Toggle edit state" },
                            { icon: "star", description: "Toggle favorite state" },
                            { icon: "settings", description: "Toggle settings state" },
                            { icon: "chat", description: "Send to chat" }
                        ];
                    each item in iconData
                        .grid.gap-2.grid-flow-col.w-full.grid-cols-3.items-center.justify-items-center
                            +Icon({ icon: item.icon, color: "color-neutral-900" })
                            +Text({ i18n: `${item.icon}`}).font-semibold
                            +Text().text-left= item.description

    .grid.gap-4.content-start
        .grid.gap-2
            +Header({ name: "textarea", size: "h2" }).text-center
            +Textarea({name: "example textarea", placeholder: "This is an example textarea."})

    .grid.gap-4.content-start
        +repeatingSection({ sectionName: "example repeating section", display: ["name", "value"], collapse: ["description"] })

    .grid.gap-4.content-start
        +repeatingSection({ sectionName: "example attack section", display: ["name", "modifier", "damage"], collapse: ["description"] })